body {
    background-color: #eee;
}

.box {
    position: relative;
    left: 50px;
    top: 50px;
    width: 100px;
    height: 100px;
    background-color: white;
    box-shadow: 1px 2px 2px rgba(0,0,0, 0.2);
    /* TRANSFORMACIONES */
    /* sentido horario, -20deg antihorario */
    /* transform: rotate(20deg);  */
    /* Mover en los ejes x e y */
    /* transform: translate(50px, 10px);  */
    /* Cambiar las dimensiones del elemento */
    /* transform: scale(0.9, 0.9); */
    /* transform: scaleX(1.05); */
    /* Retorcer */
    /* transform: skew(-5deg); */
    transform: skewY(-20deg)
}

.box:hover {
    /* Aumentar tamaño cuando se pasa el ratón */
    transform: scale(1.05, 1.05);
}
