<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Desarrollo con pasión aplicaciones y sitios web para
                    personas</h1>
                <p>Constantemente me encuentro aprediendo nuevas tecnologías y
                    desarrollando aplicaciones por placer. Esta web las
                    construí desde 0 con Python y Flask! Y quiero conocer más de
                    este mundo</p>
            </div>
            <div class="right padded">
                <h1>Podemos conversar lo que quieras!</h1>
                <p>Sólo envíame un correo <a href="#contacto" class="orange">pinchando aquí</a></p>
            </div>
        </div>
    </div>
</div>
