<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>No estás convencido? mira lo que he construido!</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer app</h3>
                <p>Una aplicación que envía correos utilizando la API de
                    Sendgrid.</p>
                <a href="https://www.dge.gob.pe" class="orange" target="_blank">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Gestor de clientes</h3>
                <p>Una aplicación para gestionar mis clientes</p>
                <a href="{{ url_for('static', filename='libreta_clientes') }}" class="orange">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Gestor de tareas</h3>
                <p>Una aplicación para gestionar mis tareas</p>
                <a href="{{ url_for('static', filename='db') }}" class="orange">Link aquí</a>
            </div>
        </div>
    </div>
</div>
